/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
main.svelte-u6q2x9{margin-top:30px;margin-left:auto;margin-right:auto;margin-bottom:auto;position:relative;max-width:56em;background-color:inherit;padding:2em;box-sizing:border-box}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
h1.svelte-13yzb3z,figure.svelte-13yzb3z{text-align:center;margin:0 auto}h1.svelte-13yzb3z{font-size:2.8em;text-transform:uppercase;font-weight:700;margin:0 0 0.5em 0}figure.svelte-13yzb3z{margin:0 0 1em 0}img.svelte-13yzb3z{width:100%;max-width:400px;margin:0 0 1em 0}@media(min-width: 480px){h1.svelte-13yzb3z{font-size:4em}}
img.svelte-1k03ql2{width:100px;display:inline-block}#imageDiv.svelte-1k03ql2{text-align:center}
h3.svelte-2l4w8u{text-align:center;margin:0 auto}h1.svelte-2l4w8u{font-size:2.8em;text-transform:uppercase;font-weight:700;margin:0 0 0.5em 0}@media(min-width: 480px){h1.svelte-2l4w8u{font-size:4em}}
#thumb.svelte-ix00xj.svelte-ix00xj{display:inline-block;height:100%;width:15%;object-fit:contain;align-self:flex-start;border-bottom:none}#text.svelte-ix00xj.svelte-ix00xj{display:inline-block;width:85%;height:100%;flex:1 1 auto;border-bottom:none;vertical-align:middle}div.svelte-ix00xj.svelte-ix00xj{margin:0 0 1em 1em;width:100%;height:25%;border-bottom:1px solid lightgray;padding-bottom:0.5em;display:flex}#thumb.svelte-ix00xj img.svelte-ix00xj{width:100%;height:100%;margin:0 1em 0 0}#text.svelte-ix00xj h1.svelte-ix00xj{display:block}#text.svelte-ix00xj h2.svelte-ix00xj{vertical-align:middle}@media only screen and (max-width: 700px){#thumb.svelte-ix00xj.svelte-ix00xj{display:inline-block;height:100%;width:25%;object-fit:contain;align-self:flex-start;border-bottom:none}#text.svelte-ix00xj.svelte-ix00xj{display:inline-block;width:75%;height:100%;flex:1 1 auto;border-bottom:none;vertical-align:middle}}.top.svelte-ix00xj.svelte-ix00xj{display:block;margin:0 0 2em 0}.collapsible.svelte-ix00xj.svelte-ix00xj{background-color:inherit;color:inherit;cursor:pointer;border:none;text-align:left;outline:none;font-size:15px;border-bottom:none}.filters.svelte-ix00xj.svelte-ix00xj{padding:0 18px;max-height:0;max-width:100%;overflow:auto;transition:max-height 0.2s ease-out;border-bottom:none;display:block}.switch.svelte-ix00xj.svelte-ix00xj{position:relative;display:inline-block;width:40px;height:23px}.switch.svelte-ix00xj input.svelte-ix00xj{opacity:0;width:0;height:0}.slider.svelte-ix00xj.svelte-ix00xj{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}.slider.svelte-ix00xj.svelte-ix00xj:before{position:absolute;content:"";height:16px;width:16px;left:4px;bottom:4px;background-color:white;-webkit-transition:.4s;transition:.4s}input:checked+.slider.svelte-ix00xj.svelte-ix00xj{background-color:#2196F3}input:focus+.slider.svelte-ix00xj.svelte-ix00xj{box-shadow:0 0 1px #2196F3}input:checked+.slider.svelte-ix00xj.svelte-ix00xj:before{-webkit-transform:translateX(16px);-ms-transform:translateX(16px);transform:translateX(16px)}.slider.round.svelte-ix00xj.svelte-ix00xj{border-radius:34px}.slider.round.svelte-ix00xj.svelte-ix00xj:before{border-radius:50%}
.postTitle.svelte-40vjgw h1.svelte-40vjgw{font-size:5em;font-weight:500}.postTitle.svelte-40vjgw h2.svelte-40vjgw{font-size:2em;font-weight:300;padding-bottom:0.5em}.date.svelte-40vjgw.svelte-40vjgw{font-size:0.8em;font-weight:200;padding-bottom:1em;color:lightslategray}.content.svelte-40vjgw.svelte-40vjgw p{font-size:1.2em;font-weight:300;word-wrap:break-word}.content.svelte-40vjgw.svelte-40vjgw pre{background-color:#f9f9f9;box-shadow:inset 1px 1px 5px rgba(0,0,0,0.05);padding:0.5em;border-radius:2px;overflow-x:auto}.content.svelte-40vjgw.svelte-40vjgw pre code{background-color:transparent;padding:0}.content.svelte-40vjgw.svelte-40vjgw ul{line-height:1.5}.content.svelte-40vjgw.svelte-40vjgw li{margin:0 0 0.5em 0}.content.svelte-40vjgw.svelte-40vjgw img{width:auto;width:100%}.content.svelte-40vjgw.svelte-40vjgw #imageDiv{text-align:center;width:auto}.content.svelte-40vjgw.svelte-40vjgw #videoDiv{text-align:center}.content.svelte-40vjgw.svelte-40vjgw iframe{max-width:100%}.content.svelte-40vjgw.svelte-40vjgw figure{width:100%;max-width:1000px;margin-left:auto;margin-right:auto;display:inline-block}.content.svelte-40vjgw.svelte-40vjgw figcaption{color:lightslategray;font-size:0.8em;text-align:center}.content.svelte-40vjgw.svelte-40vjgw #codeSnippet{background-color:inherit;margin:2em 0 2em 0}.modal.svelte-40vjgw.svelte-40vjgw{display:none;position:fixed;z-index:1;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.9)}.modal-content.svelte-40vjgw.svelte-40vjgw{margin:auto;display:block;width:80%;max-width:700px}#caption.svelte-40vjgw.svelte-40vjgw{margin:auto;display:block;width:80%;max-width:700px;text-align:center;color:#ccc;padding:10px 0;height:150px}.modal-content.svelte-40vjgw.svelte-40vjgw,#caption.svelte-40vjgw.svelte-40vjgw{animation-name:svelte-40vjgw-zoom;animation-duration:0.6s}@keyframes svelte-40vjgw-zoom{from{transform:scale(0)}to{transform:scale(1)}}.close.svelte-40vjgw.svelte-40vjgw{position:absolute;top:40px;right:35px;color:#f1f1f1;font-size:40px;font-weight:bold;transition:0.3s}.close.svelte-40vjgw.svelte-40vjgw:hover,.close.svelte-40vjgw.svelte-40vjgw:focus{color:#bbb;text-decoration:none;cursor:pointer}@media only screen and (max-width: 700px){.modal-content.svelte-40vjgw.svelte-40vjgw{width:100%}.postTitle.svelte-40vjgw h1.svelte-40vjgw{font-size:4em;font-weight:400;word-wrap:break-word}.postTitle.svelte-40vjgw h2.svelte-40vjgw{font-size:1.5em;font-weight:250;padding-bottom:0.5em;word-wrap:break-word}}
nav.svelte-gj03cv{border-bottom:1px solid rgba(255,62,0,0.1);font-weight:300;padding:0 1em;z-index:9999;width:100%;top:0;position:fixed}ul.svelte-gj03cv{margin:0;padding:0}ul.svelte-gj03cv::after{content:'';display:block;clear:both}li.svelte-gj03cv{display:block;float:left;cursor:pointer}[aria-current].svelte-gj03cv{position:relative;display:inline-block;cursor:pointer}[aria-current].svelte-gj03cv::after{position:absolute;content:'';width:calc(100% - 1em);height:2px;background-color:rgb(255,62,0);display:block;bottom:-1px;cursor:pointer}a.svelte-gj03cv{text-decoration:none;padding:1em 0.5em;display:block;cursor:pointer}body, nav{background-color:white;transition:background-color 0.3s
	}body.dark-mode, nav.dark-mode{background-color:black;color:white
	}
div.svelte-b7hd5f.svelte-b7hd5f{margin:0 0 1em 0;width:100%;padding-top:0.5em;padding-bottom:0.5em;border-bottom:1px solid lightgray;border-top:1px solid lightgray;overflow-x:auto}div.svelte-b7hd5f img.svelte-b7hd5f{display:block;float:left;max-width:150px;max-height:150px;margin:0 1em 0 0}div.svelte-b7hd5f h1.svelte-b7hd5f{display:block}div.svelte-b7hd5f h3.svelte-b7hd5f{vertical-align:middle}