/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
main.svelte-iytxju{position:relative;max-width:56em;background-color:inherit;padding:2em;margin:0 auto;box-sizing:border-box}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
img.svelte-1k03ql2{width:100px;display:inline-block}#imageDiv.svelte-1k03ql2{text-align:center}
h1.svelte-13yzb3z,figure.svelte-13yzb3z{text-align:center;margin:0 auto}h1.svelte-13yzb3z{font-size:2.8em;text-transform:uppercase;font-weight:700;margin:0 0 0.5em 0}figure.svelte-13yzb3z{margin:0 0 1em 0}img.svelte-13yzb3z{width:100%;max-width:400px;margin:0 0 1em 0}@media(min-width: 480px){h1.svelte-13yzb3z{font-size:4em}}
.postTitle.svelte-1dc8flk h1.svelte-1dc8flk{font-size:5em;font-weight:500}.postTitle.svelte-1dc8flk h2.svelte-1dc8flk{font-size:2em;font-weight:300;padding-bottom:1em}.content.svelte-1dc8flk.svelte-1dc8flk p{font-size:1.2em;font-weight:300}.content.svelte-1dc8flk.svelte-1dc8flk pre{background-color:#f9f9f9;box-shadow:inset 1px 1px 5px rgba(0,0,0,0.05);padding:0.5em;border-radius:2px;overflow-x:auto}.content.svelte-1dc8flk.svelte-1dc8flk pre code{background-color:transparent;padding:0}.content.svelte-1dc8flk.svelte-1dc8flk ul{line-height:1.5}.content.svelte-1dc8flk.svelte-1dc8flk li{margin:0 0 0.5em 0}.content.svelte-1dc8flk.svelte-1dc8flk img{width:auto;width:100%}.content.svelte-1dc8flk.svelte-1dc8flk #imageDiv{text-align:center;width:auto}.content.svelte-1dc8flk.svelte-1dc8flk figure{width:100%;max-width:1000px;margin-left:auto;margin-right:auto;display:inline-block}.content.svelte-1dc8flk.svelte-1dc8flk figcaption{color:lightslategray;font-size:0.8em;text-align:center}.content.svelte-1dc8flk.svelte-1dc8flk #codeSnippet{background-color:inherit;margin:2em 0 2em 0}.modal.svelte-1dc8flk.svelte-1dc8flk{display:none;position:fixed;z-index:1;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.9)}.modal-content.svelte-1dc8flk.svelte-1dc8flk{margin:auto;display:block;width:80%;max-width:700px}#caption.svelte-1dc8flk.svelte-1dc8flk{margin:auto;display:block;width:80%;max-width:700px;text-align:center;color:#ccc;padding:10px 0;height:150px}.modal-content.svelte-1dc8flk.svelte-1dc8flk,#caption.svelte-1dc8flk.svelte-1dc8flk{animation-name:svelte-1dc8flk-zoom;animation-duration:0.6s}@keyframes svelte-1dc8flk-zoom{from{transform:scale(0)}to{transform:scale(1)}}.close.svelte-1dc8flk.svelte-1dc8flk{position:absolute;top:15px;right:35px;color:#f1f1f1;font-size:40px;font-weight:bold;transition:0.3s}.close.svelte-1dc8flk.svelte-1dc8flk:hover,.close.svelte-1dc8flk.svelte-1dc8flk:focus{color:#bbb;text-decoration:none;cursor:pointer}@media only screen and (max-width: 700px){.modal-content.svelte-1dc8flk.svelte-1dc8flk{width:100%}}
#pageTitle.svelte-7tn3pa.svelte-7tn3pa{margin:0 0 2em 0}div.svelte-7tn3pa.svelte-7tn3pa{margin:0 0 1em 1em;width:100%;padding-bottom:0.5em;border-bottom:1px solid lightgray;overflow-x:auto}div.svelte-7tn3pa img.svelte-7tn3pa{display:block;float:left;max-width:150px;max-height:150px;margin:0 1em 0 0}div.svelte-7tn3pa h1.svelte-7tn3pa{vertical-align:middle;display:block}div.svelte-7tn3pa h3.svelte-7tn3pa{vertical-align:middle}
nav.svelte-3tzf84{border-bottom:1px solid rgba(255,62,0,0.1);font-weight:300;padding:0 1em}ul.svelte-3tzf84{margin:0;padding:0}ul.svelte-3tzf84::after{content:'';display:block;clear:both}li.svelte-3tzf84{display:block;float:left;cursor:pointer}[aria-current].svelte-3tzf84{position:relative;display:inline-block;cursor:pointer}[aria-current].svelte-3tzf84::after{position:absolute;content:'';width:calc(100% - 1em);height:2px;background-color:rgb(255,62,0);display:block;bottom:-1px;cursor:pointer}a.svelte-3tzf84{text-decoration:none;padding:1em 0.5em;display:block;cursor:pointer}body{background-color:white;transition:background-color 0.3s
	}body.dark-mode{background-color:black;color:white
	}
div.svelte-a31lbt.svelte-a31lbt{margin:0 0 1em 0;width:100%;padding-top:0.5em;padding-bottom:0.5em;border-bottom:1px solid lightgray;border-top:1px solid lightgray;overflow-x:auto}div.svelte-a31lbt img.svelte-a31lbt{display:block;float:left;max-width:150px;max-height:150px;margin:0 1em 0 0}div.svelte-a31lbt h1.svelte-a31lbt{vertical-align:middle;display:block}div.svelte-a31lbt h3.svelte-a31lbt{vertical-align:middle}